/* Content in 12 flex boxes 4x3*/
.square {
  padding: 0px;
  width: 333px;
  height: 160px;
  border: 1px solid;
}

/* Container of all 12 flex boxes */
#container {
  display: flex;
  width: 1000px;
  height: auto;
  /* flex-direction: column; */
  /* align-items: flex-start; */
}

/* Set of 3 flex boxes */
.rectangle {
  display: flex;
}

/* Black Background on selected flex boxes */
#left_bar {
  background-color: black;
  color: white;
}
/* Other flex boxes */
#other_bars {
  background-color: white;
  color: black;
}

/* Media Layouts */
@media only screen and (max-width: 333px) and (orientation: portrait) 
{
  #container {
    flex-direction: column;
  }
  .rectangle {
    flex-direction: column;
  }
}

/* Portrait */
@media only screen and (max-width: 400px) and (orientation: portrait) 
{
  #container {
    flex-direction: column;
  }
  .rectangle {
    flex-direction: column;
  }
}

/* Landscape */
@media only screen and (min-width: 400px) and (max-width: 1000px) and (orientation: landscape) 
{
  #container {
    flex-direction: column;
  }
  .rectangle {
    flex-direction: row;
  }
}


@media only screen and (min-width: 600px) and (max-width: 1000px) {
  #container {
    flex-direction: column;
  }
  .rectangle {
    flex-direction: row;
  }
}