/* Content in 12 flex boxes 4x3*/
.square {
  padding: 0px;
  width: 472px;
  height: 210px;
  border: 1px solid black;
}

/* Container of all 12 flex boxes */
#container {
  display: flex;
  width: 1000px;
  height: 700px;
  /* flex-direction: column; */
  align-items: flex-start;
}

/* Set of 3 flex boxes */
.rectangle {
  display: flex;
}

/* Black Background on selected flex boxes */
#left_bar {
  background-color: black;
  color: white;
}
/* Other flex boxes */
#other_bars {
  background-color: purple;
  color: black;
}


 /*!Media Queries Broken Under Construction!*/

 @media only screen and (max-width: 600px) {
  #container {
    flex-direction: column;
  }

  .rectangle {
    flex-direction: column;
  }
}

@media only screen and (max-width: 300px) {
  #container {
    flex-direction: column;
    height: auto;
  }

  .rectangle {
    flex-direction: column;
    height: auto;
  }
}



/* @media screen and (max-width: 400px) {
  #container {

      width: 75px;
  }
}
@media screen and (min-width: 400px) and (max-width: 500px) {
  #container {
      width: 100px;
  }
}

@media screen and (min-width: 500px) and (max-width: 700px) {
  #container {
      width: 200px;
  }
}
@media screen and (min-width: 700px) and (max-width: 900px) {
  #container {
      width: 500px;
  }
}
@media screen and (min-width: 900px) {
  #container {
      width: 1000px;
  }
} */